  /*RYHI*/
  .user-post{
     
    /*position: absolute;
    z-index: 1;
    border-radius: 5px;*/
    border-color: #3440c4;
    border-style: solid;
    .header{ 
    background: linear-gradient(#3440c4 50%, white 30% );
  }
}

  .btn-follow{
  background-color: #3440c4;
  Color:white;
  border-radius:5px ;
  border: none;
  width:180px;
  height: 40px;
  font-weight:500px;
  text-align:center;
  }



/*#aside-right {
  
    background-color: #eef0f1;
    flex-wrap: wrap;
  }
  
  .ar_art{
    padding: 1em;
  
  }
  
  .ar_art:hover {
    background-color: #FFF;
  }
  
  .ar_href{
    color: black;
    text-decoration:none;
  }
  
  .ar_href:hover{
    color: rgb(88, 88, 226);
    text-decoration: none;
  }
  
  .ar_color_secundary{
    color: #64707d;
  }
  
  #aside-right{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  .as_header{
    padding: 0.1rem 1rem;
  }
  .as_border{
    border-radius: 0.3em;
    box-shadow: 0 0 0 1px #dee0df;
    border-bottom: 5rem;
  };
  
  .ar_sec2_header_strong{
  
    font-weight: bold;
  }
  
  .ar_sec2_header_small{
    font-size: 0.875rem;
    color:rgb(88, 88, 226);
    text-decoration: none;
  }
  
  .butomm_text{
    text-decoration: none;
    color:black;
    display: flex;
    justify-content: center;
  }
  
  .butomm_text:hover{
    text-decoration: none;
  }
  
  .ar_medidas{
    margin-top: 1rem;
  }
  
  .ar_top{
    margin-bottom: 1rem;
    background-color: #fff;
  }*/